.footer {
    background: var(--whiteSmoke);
    border-top: 1px solid var(--totalWhite);
    .content {
        padding: 20px 50px;
        justify-content: space-between;
        
        @media (max-width:426px) {
            flex-direction: column;
            gap: 40px;
            
        }
        @media (max-width:768px) {
            padding: 40px 20px 20px 20px;
        }

        p {
            color: var(--nero);
        }

        .item {
            display: flex;
            align-items: center;
            gap: 10px;
            
        }

        .dev {  
            a{
                color: var(--nero);
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: auto;
                text-decoration-thickness: auto;
                text-underline-offset: auto;
            }
            
            @media (max-width:426px) {
                justify-content: flex-end;
                display: flex;                
            }
        }
    }
}