.banner {
    background: url(/assets/image/banner.webp) lightgray 50% / cover no-repeat;
    padding: 200px 0px;
    transition: 0.3s;
    @media (max-width:768px) {
        padding: 100px 0;
    }
    .content {
        display: flex;
        max-width: 1380px;
        margin: auto;
        padding: 0px 50px;
        gap: 50px;
        @media (max-width:768px) {
            padding: 0 20px;
        }
        p {
            color: var(--totalWhite);
            font-family: var(--font-bold);
            font-size: var(--baner-text);

        }
    }
}

.servcice {
    .content {
        display: flex;
        max-width: 1380px;
        margin: auto;
        padding: 70px 50px;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        @media (max-width:768px) {
            padding: 40px 20px;
        }
        .servcice_text {
            font-size: var(--title);
            color: var(--grey);
            font-family: var(--font-reg);
        }

        .servcice_image {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            flex-wrap: wrap;
            flex-direction: row;
            @media (max-width:426px) {
                gap: 10px;
                
            }
            img {
                border-radius: 24px;
                width: calc(100% / 3 - 20px);
                object-fit: cover;

                @media (max-width:700px) {
                    width: calc(100% / 2 - 20px);
                    height: 200px;
                }
                @media (max-width:426px) {
                    width: calc(100% / 2 - 5px);
                    height: 120px;
                    
                    border-radius: 12px;
                }
            }
        }
    }
}

.whyUs {
    .content {
        display: flex;
        max-width: 1380px;
        margin: auto;
        padding: 80px 50px;
        flex-direction: column;
        gap: 100px;
        @media (max-width:768px) {
            padding: 40px 20px;
        }
        .whyUs-text {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 20px;

            .h2 {
                width: 100%;
                font-size: var(--h2);
                color: var(--nero);
                font-family: var(--font-reg);
            }

            p {
                display: flex;
                color: var(--grey);
                font-size: var(--title);
                font-family: var(--font-reg);
                width: 680px;
                align-items: end;
                text-indent: 80px;
                @media (max-width:768px) {
                    width: 100%;   
                    text-indent: 40px;                
                }
            }
        }

        .whyUs-block {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .block {
                background: var(--whiteSmoke);
                display: flex;
                flex-direction: column;
                border-radius: 24px;
                width: calc(100% / 3 - 20px);
                padding: 30px;
                gap: 20px;
                @media (max-width:768px) {
                    width: calc(100% / 2 - 10px);
                    padding: 20px;
                }
                p {
                    color: var(--nero);
                    font-size: clamp(12px, 2vw, 16px);
                    font-family: var(--font-reg);
                }
            }
        }
    }
}

.advantages {
    .content {
        display: flex;
        max-width: 1380px;
        margin: auto;
        padding: 80px 50px;
        
        @media (max-width:768px) {
            padding: 40px 20px;
        }
        @media (max-width:426px) {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        p {
            color: var(--nero);
            font-size: var(--text);
            font-family: var(--font-reg);
        }


        .advantages-text {
            margin-right: auto;
        }

        .advantages-cout {
            width: 640px;
            display: flex;
            padding: 0px 40px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 60px;
            border-left: 1px solid var(--grey);
            @media (max-width:426px) {
                width: 100%;
                padding: 0 20px;
                gap: 40px;
            }
            p {
                width: 100%;
            }

            #counter {
                font-size: clamp(100px, 12vw, 160px);
                font-family: var(--font-bold);
                opacity: 1; 
                transition: opacity 1s ease-in-out;
            }
            #counter.visible {
                opacity: 1; 
            }
        }
    }
}

.conditions {
    .content {
        display: flex;
        max-width: 1380px;
        margin: auto;
        padding: 80px 50px;
        justify-content: center;
        align-items: flex-end;
        align-content: flex-end;
        flex-wrap: wrap;
        @media (max-width:768px) {
            padding: 40px 20px;
        }
        p {
            width: 850px;
            font-family: var(--font-bold);
            font-size: clamp(20px, 5vw, 38px);
            text-indent: 80px;
            span {
                background: var(--nero);
                color: var(--totalWhite);
                padding: 0px 10px;
                margin-left:5px ;
            }
        }
    }
}

.clients{

    .content{
        display: flex;
        max-width: 1380px;
        margin: auto;
        padding: 80px 50px;
        flex-direction: column;
        gap: 100px;
        @media (max-width:768px) {
            padding: 40px 20px;
            gap: 40px;
        }

        .h2{
            width: 100%;
            font-size: var(--h2);
            color: var(--nero);
            font-family: var(--font-reg);  
        }
        .clients-block{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            .block{
                padding: 30px;
                width: calc(100% / 4 - 20px);
                border-radius: 20px;
                background: var(--whiteSmoke);
                @media (max-width:768px) {
                    width: calc(100% / 3 - 10px);
                    padding: 20px;
                    gap: 20px;
                }
                @media (max-width:426px) {
                    width: calc(100% / 2 - 10px);
                    border-radius: 10px;
                    gap: 20px;
                }
                img{
                    width: 100%; 
                    height: 100%;
                    object-fit: cover;

                }
                
            }
            .grey{
                background: var(--grey);
            }
        }
    }
}

.connection{
    background: var(--whiteSmoke);
    .content{
        display: flex;
        max-width: 1380px;
        margin: auto;
        padding: 80px 50px;
        flex-direction: column;
        gap: 100px;
        @media (max-width:768px) {
            padding: 40px 20px;
            gap: 40px;
        }
        .h2{
            width: 100%;
            font-size: var(--h2);
            color: var(--nero);
            font-family: var(--font-reg);  
        }
        .connection_contacts{
            display: flex;
            gap: 180px;
            @media (max-width:768px) {
                gap: 30px;
            }
            @media (max-width:426px) {
                flex-direction: column;
                
            }
           .contacts{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .connection-text{
                color: var(--grey);
                font-size: var(--title);
                font-family: var(--font-reg);
            }
            .connection-item{
                display: flex;
                flex-direction: column;
                gap: 10px;
                p{
                    color: var(--nero);
                    font-size: var(--text);
                    font-family: var(--font-reg); 
                }
                a{
                    display: flex;
                    color: var(--nero);
                    font-size: var(--text);
                    font-family: var(--font-reg); 
                    gap: 10px;
                }
            }
           } 
        }
    }
}